extends layout

block content
	h2= user.name
	ul
		li= "Date of Birth: "+user.dob
		li= "Gender: "+user.gender
	
	h3= "Posts"
	ul
		for post in posts
			li
				a(href="/posts/"+post.id)= post.content
