extends layout

block content
	h2= users.name
	ul
		li= "Date of Birth: "+users.dob
		li= "Gender: "+users.gender
	
	h3= "Posts"
	ul
		for post in posts
			li
				a(href="/posts/"+post.id)= post.content
